# Qdrant
QDRANT_MODE=server
QDRANT_HOST=localhost
QDRANT_PORT=6333
# Optional if using Qdrant Cloud
# QDRANT_URL=https://YOUR-CLUSTER.aws.cloud.qdrant.io
# QDRANT_API_KEY=YOUR_QDRANT_API_KEY

# App
API_V1_STR=/api/v1
PROJECT_NAME=Memory Features Pack
