qdrant-client
google-generativeai
groq
pydub
gTTS
geopy
python-dotenv
pillow
numpy
cachetools
rich
requests
plotly
pandas
fastapi
uvicorn[standard]
pyjwt
python-multipart
langchain
langgraph
langchain-groq
langchain-core
pydantic
opencv-python-headless
deepface>=0.0.93
tf-keras>=2.16.0
